html, body {
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(to bottom, #ffffff, #a09dcf);
    color: rgb(114, 170, 255);
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.card {
    width: 300px;           /* <-- REQUIRED */
    margin: 20px auto;      /* center it */
    background: rgb(255, 255, 255);      /* visible card */
    color: black;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

img {
    width: 100%;            /* fits card */
    border-radius: 5px 5px 5px 5px;
}

.container {
    padding: 10px;
    text-align: center;
}

#button{
    margin: 15px;
    border-radius: 10px;
    background-color: rgb(198, 223, 252);
    font-weight: bold;
}

#countrylist{
    text-align: center;
    margin: 15px;
    border-radius: 10px;
    background-color: rgb(198, 223, 252);
    font-weight: bold;
}
