body{
    font-weight: bold;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(to bottom, #ffeaf9, #3701fc);
}

html, body{
    text-align: center;
    height: 100%;
    margin: 0;
}

.passfailbutton{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
}