@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&display=swap");
* {
  font-family: "Josefin Sans", sans-serif;
}
div {
  background-color: bisque;
  color: brown;
  text-align: center;
  height: 100%;
}
div#person {
  color: purple;
  font-weight: bold;
}
span {
  color: darkorange;
}
