html,body{
    height: 100%;
    margin: 0;
}

body{
    background: linear-gradient(#7a7aff,#ff5100);
}

*{
    text-align: start;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    color: aqua;
}

h1{
    font-size: 2rem;
}